@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --green: lightgreen;
    --blue: lightblue;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 10pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, var(--green), var(--blue));
}
section {
    width: 40vw;
    min-width: 400px;
    max-width: 400px;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 100px;
    height: 100px;
}

form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem auto;
    width: 100%;
}
button, input {
    padding: 1rem;
    border: none;
    box-shadow: 0.25rem 0.5rem 1rem 0.5em hsla(42, 100%, 0%, 0.2);
}
label {
    margin-bottom: 0.25rem;
}
input {
    border-radius: .5rem;
}
button {
    width: 50%;
    margin: 1rem auto;
    border-radius: 2rem;
    background: var(--blue);
    cursor: pointer;
}
form div a {
    text-decoration: none;
    margin: 1rem auto;
    font-size: .75rem;
}