@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Sedgwick+Ave&display=swap');

:root {
    --hue: 20;
    --base: 180;
    --bgcolor: hsl(var(--hue), 100%, 50%);
    --color: hsl(calc(var(--hue) + var(--base)), 100%, 50%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
body {
    background: linear-gradient(45deg, #c0ffee, #eeff0c);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Sedgwick Ave", cursive;
    font-weight: bold;
    font-style: normal;
}

header h1 {
    font-size: 3rem;
    color: var(--color);
    height: 100%;
}

button {
    background: none;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.container {
    margin: 5rem auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.keys {
    width: 100px;
    height: 100px;
    font-size: 3rem;
    text-align: center;
    transition: all 0.10s ease-in-out;
    padding: 10px;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
#a {background-image: url(./img/boom.svg);}
#s {background-image: url(./img/clap.svg);}
#d {background-image: url(./img/hihat.svg);}
#f {background-image: url(./img/kick.svg);}
#g {background-image: url(./img/openhat.svg);}
#h {background-image: url(./img/ride.svg);}
#j {background-image: url(./img/snare.svg);}
#k {background-image: url(./img/tink.svg);}
#l {background-image: url(./img/tom.svg);}

.pressed {
    transform: scale(1.2);
}


